<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-96  bg-white p-10 px-10 rounded-3xl shadow-md">
    <h1 class="text-4xl leading-none tracking-tighter capitalize text-center font-semibold">Welcome to Pinterest</h1>
    <form action="/users/register" method="post">
      <input class="block w-full px-3 py-2 border mt-2 rounded-md" type="email" name="email" placeholder="Email">

      <input class="block w-full px-3 py-2 border mt-2 rounded-md" type="text" name="username" placeholder="Username">
      
      <input class="block w-full px-3 py-2 border mt-2 rounded-md" type="text" name="name" placeholder="Full Name">

      <input class="block w-full px-3 py-2 border mt-2 rounded-md" type="password" name="password" placeholder="Password">

      <input class="block w-full px-3 py-2 border bg-red-600 text-white rounded-full mt-2 cursor-pointer" type="submit" value="Sign Up">
      
      <p class="text-sm text-zinc-400 mt-6 text-center w-full mx-auto">By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy. Notice at collection.</p>
    </form>
    <a class="inline-block mt-5 text-sm font-semibold text-zinc-700 text-center w-full" href="/">Already on Pinterest? Login</a>
  </div>
</div>

<% include ./partials/footer.ejs %>
